{% macro pc_quest_toggle(pc, quest) -%}
<span class="pc">{{pc}}</span><span class="quest">{{quest}}</span>
{%- endmacro %}

{% extends "_base.jinja2" %}
{% block body %}
<h1 class="mt-5 pt-3 display-4">Installing the mod repository</h1>
<h2>{{pc_quest_toggle("On PCVR", "On Quest")}}</h2>

<button class="btn btn-outline-primary" id="QuestToggleButton" type="button"
    onclick="toggleQuest()">{{pc_quest_toggle("Show Quest", "Show PCVR")}}</button>
<figcaption style="display:inline;" class=" blockquote-footer">
    Video below!
</figcaption>


{% set quest_instructions %}
	{% set if_pc %}
		<span style="color:darkcyan">If you're using a PC for this:</span>
	{% endset %}

<div class="quest alert alert-primary" role="alert">You will need: Quest connected to PC or alternatively a sideloaded Quest file explorer (CX, Amaze)</div>
<ol>    
	<li>Using a file explorer, navigate to <code>Android > data > com.StressLevelZero.BONELAB > files</code></li>
    <li><class="quest">{{if_pc}} Copy/Move the file to your Desktop.</li>
    <li>Open the <code>repositories.txt</code> file.</li>
    <li>Paste this URL at the very bottom of the file:<br>
		<code>https://blrepo.laund.moe/repository.json</code>
        If you want NSFW mods, paste this below it:<br>
		<code>https://blrepo.laund.moe/nsfw_repository.json</code>
    </li>
    <li>Save the file.</li>
    <li class="quest">{{if_pc}} Copy/Move the file back to <code>Android > data > com.StressLevelZero.BONELAB > files</code></br>. Make sure you
        Replace/Override it.</li>
    <li>Go to your mod station in Bonelab, open Settings and then Repos.</li>
    <li>Make sure the mod.io repos show up.</li>
</ol>
{% endset %}

{% set pc_instructions %}
<ol>
    <li>Press Win+R, then in the Run prompt that opens, enter:<br>
		<code>notepad C:\Users\USERNAMEHERE\AppData\LocalLow\Stress Level Zero\BONELAB\repositories.txt</code><br>
	then press Enter.</li>
    <li>Paste this URL at the very bottom of the file:<br>
		<code>https://blrepo.laund.moe/repository.json</code><br>
        If you want NSFW mods, paste this below it:<br>
		<code>https://blrepo.laund.moe/nsfw_repository.json</code>
    </li>
    <li>Save the file.</li>
	<li>Go to your mod station in Bonelab, open Settings and then Repos.</li>
    <li>Make sure the mod.io repos show up.</li>
</ol>
{% endset %}


{{pc_quest_toggle(pc_instructions, quest_instructions)}}


<h3>This is what your <code>repositories.txt</code> should look like</h3>
<p><img src="https://blrepo.laund.moe/bonelab-repo.png" alt=""></p>
<iframe class="quest" width="560" height="315" src="https://www.youtube.com/embed/7mo452r47_s"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<iframe class="pc" width="560" height="315" src="https://www.youtube.com/embed/qlFnTBgIxyY" title="YouTube video player"
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>
<!---
TODO: sidebar for PC: https://www.youtube.com/watch?v=qlFnTBgIxyY
TODO: sidebar for Quest: https://www.youtube.com/watch?v=7mo452r47_s
-->
{% endblock %}

{% block js %}
<script>
    let questToggled = false;

    function toggleQuest() {
        var button = document.getElementById("QuestToggleButton");
        var quest = document.getElementsByClassName("quest");
        var pc = document.getElementsByClassName("pc");

        let q_display = null;
        let pc_display = null;

        if (questToggled) {
            pc_display = "none";
            button.classList.remove("btn-outline-primary");
            button.classList.add("btn-primary");
        } else {
            q_display = "none";
            button.classList.add("btn-outline-primary");
            button.classList.remove("btn-primary");
        }
        for (var i = 0; i < quest.length; i++) {
            quest[i].style.display = q_display;
        }
        for (var i = 0; i < pc.length; i++) {

            pc[i].style.display = pc_display;
        }
        questToggled = !questToggled;
    }
    toggleQuest()
</script>
{% endblock %}
{% block css %}
{% endblock %}