{% set active = "qside" %}
{% extends "_base.jinja2" %}
{% block body %}
<h1 class="mt-5 pt-3 display-4">Quest Sideloading using Android</h1>
<ol>
    <li>For these install instructions you will need to sideload a file explorer like CX file explorer.</li>
    <li>Download CX File Explorer on your Android Phone</li>
    <li>Follow this video to sideload CX file explorer from your Android. At the crucial steps make sure to select CX
        file explorer </br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3ZcWejuPhRY" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </li>
    <li>Using the CX file explorer, navigate to
        </br><code>Android > data > com.StressLevelZero.BONELAB > files</code></br> and open the
        <code>repositories.txt</code> file.
    </li>
    <li>Paste the URL(s) in there. Make sure they are below the other lines and have no extra characters on their line.
        <code>
            </br>
            https://blrepo.laund.moe/repository.json
            </br>
            https://blrepo.laund.moe/nsfw_repository.json
        </code>
    </li>
    <li>Save the file</li>
    <li>Restart Bonelab</li>
    <li>Go to your mod station in Bonelab, on setting and then &quot;repos&quot;.</li>
    <li>Make sure the mod.io repos show up.</li>
</ol>
<h3>What <code>repositories.txt</code> should look like:</h3>
<p><img src="https://blrepo.laund.moe/bonelab-repo.png" alt=""></p>
{% endblock %}