{% extends "_base.jinja2" %}
{% block body %}
<h1 class="mt-5 pt-3 display-4">Thanks go out to:</h1>
<ul>
    <li><code>daveOS#1663</code> for the <a href="/install/quest-manual.html">manual quest install</a> instructions</li>
    <li><code>Abstract#3404</code> for helping me figure out the developer mode/websocket on quest standalone</li>
    <li><code>yewnyx#0001</code> for help figuring out the issues which came up while writing the code</li>
    <li><a href="https://www.youtube.com/channel/UCdoB2_lbCKP-atO-M1t6pLg">Josalt</a> on youtube for making the
        tutorials used on the install page</li>
</ul>
{% endblock %}